---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <section>
        <!-- <h1 class="text-3xl font-bold text-center text-gray-900 mb-8">
            Agenda tu Cita
        </h1> -->
        <!-- Google Calendar Appointment Scheduling begin -->
        <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ3w9eglxF3fiM77j0CGKgtfNIV0rBcP5wXttxSTfcmdOX143KUO1l-kLELSlWRsbwzyooazzNRI?gv=true" style="border: 0" width="100%" class="h-[1550px] sm:h-[900px] md:h-[870px] lg:h-[830px]"></iframe>
        <!-- end Google Calendar Appointment Scheduling -->
    </section>
</Layout>